.custom-select {
  position: relative;
  cursor: pointer;

  &__selected {
    @include input;

    display: block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      margin: auto;
      height: 20px;
      width: 20px;
      background: url("../assets/svg/arrow-down.svg") no-repeat center;
      transition: transform 0.2s ease-in;
    }

    .custom-select.active & {
      background: rgba(61, 64, 80, 0.85);
      color: #fff;

      &::after {
        filter: invert(1);
        transform: rotate(180deg);
      }
    }
  }

  &__options {
    position: absolute;
    overflow-y: scroll;
    max-height: 179px;
    visibility: hidden;
    height: 0;
    width: 100%;
    background: #272733;
    opacity: 0;
    border: 1px solid #3d4050;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .custom-select.active & {
      visibility: visible;
      height: auto;
      opacity: 1;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: #3d4050;
      border-radius: 3px;
      margin: 2px 0;
    }

    &::-webkit-scrollbar-thumb {
      background: #3e9cdc;
      border-radius: 3px;
    }
  }

  &__option {
    @include font($f-size: 18px, $l-height: 1);

    padding: 10px;
    cursor: pointer;
    transition: color 0.2s ease-in;

    &:hover {
      color: #42a9ed;
    }

    &[data-value=""] {
      display: none;
    }
  }
}
