.footer {
  @include font($f-size: 13px, $l-height: 1.2);

  padding: 30px 0;
  background-color: #3d4050;
  color: #fff;

  &__container {
    @include container;
  }

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @include respond-to("medium") {
      flex-direction: row;
      row-gap: 0;
    }

    > div {
      position: relative;

      @include respond-to("medium") {
        margin-right: 80px;

        &::after {
          content: "";
          position: absolute;
          right: -40px;
          width: 1px;
          height: 18px;
          background-color: #c3c3c3;
        }

        &:last-child {
          margin-right: 0;

          &::after {
            content: none;
          }
        }
      }
    }
  }

  &__payments {
    display: flex;
    color: #c3c3c3;

    &-item {
      display: flex;
      align-items: center;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      @include respond-to("medium") {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }

      &_qiwi {
        &::before {
          content: "";
          display: inline-block;
          margin-right: 12px;
          width: 20px;
          height: 20px;
          background: url("../assets/svg/qiwi.svg") center no-repeat;
        }
      }

      &_yandex {
        &::before {
          content: "";
          display: inline-block;
          margin-right: 12px;
          width: 20px;
          height: 20px;
          background: url("../assets/svg/ya-money.svg") center no-repeat;
        }
      }

      &_web-money {
        &::before {
          content: "";
          display: inline-block;
          margin-right: 12px;
          width: 20px;
          height: 20px;
          background: url("../assets/svg/web-money.svg") center no-repeat;
        }
      }
    }
  }

  &__contacts {
    display: flex;

    a {
      color: #fff;
    }

    &_email,
    &_vk {
      display: flex;
      align-items: center;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      @include respond-to("medium") {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      &::before {
        display: inline-block;
        margin-right: 12px;
      }
    }

    &_email,
    &_vk {
      &::before {
        content: "";
        background-size: contain;
        width: 20px;
        height: 20px;
      }
    }

    &_email {
      &::before {
        background: url("../assets/svg/footer-mail.svg") center no-repeat;
      }
    }

    &_vk {
      &::before {
        background: url("../assets/svg/vkontakte.svg") center no-repeat;
      }
    }
  }
}
